.topnav{
	padding-bottom: 20px;
}

.login-wrap{
	background: #758CAA;
	background: rgba(0, 51, 102, 0.4);
	width: 60%;
	margin: 0 auto;
	border-radius: 4px;
	padding: 20px;
}

.login-wrap h2{
	color: #FFF;
	text-align: center;
}
.login-wrap form{
	margin-top: 0;
	padding-bottom: 0;
}
.login-wrap label{
	color: #FFF;
	margin-bottom: 0;
	margin-top: .5em;
}
.login-wrap input[type=text],
.login-wrap input[type=password]{
	width: 100%;
}

.login-wrap .login-button{
	margin-top: 15px;
	padding: 9px 40px 8px;
	float: left;
}
.error{
	padding: 10px 0 10px 100px;
	font-weight: bold;
}

.password-forgotten{
	padding: 5px 10px;
	display: block;
	margin-top: 16px;
	float: left;
}